<div class="container">
	<div class="tree" id="offense">
		<div class="require" id="bruteForceMartialMastery"></div>
		<div class="require" id="butcherFeast"></div>
		<div class="require" id="mentalForceArcaneMastery"></div>
		<div class="require" id="spellWeavingBladeWeaving"></div>
		<div class="require" id="executionerDangerousGame"></div>
		<div class="treeTitle" id="offense">OFFENSE 0</div>
		<div class="row">
			<div class="mastery" id="DoubleEdgeSword">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Fury">
				<div class="points">0 / 4</div>
			</div>
			<div class="mastery" id="Sorcery">
				<div class="points">0 / 4</div>
			</div>
			<div class="mastery" id="Butcher">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="ExposeWeakness">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="BruteForce">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="MentalForce">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="Feast">
				<div class="points">0 / 1</div>
			</div>

		</div>
		<div class="row">
			<div class="mastery" id="SpellWeaving">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="MartialMastery">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="ArcaneMastery">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Executioner">
				<div class="points">0 / 3</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="BladeWeaving">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Warlord">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="Archmage">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="DangerousGame">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="Frenzy">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="DevastatingStrikes">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="ArcaneBlade">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Havoc">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="defense">
		<div class="treeTitle" id="defense">DEFENSE 0</div>
		<div class="require" id="blockUnyielding"></div>
		<div class="require" id="toughSkinBladedArmor"></div>
		<div class="require" id="veteransScarsJuggernaut"></div>
		<div class="require" id="resistanceEvasive"></div>
		<div class="require" id="hardinessReinforcedArmor"></div>
		<div class="require" id="perseveranceSecondWind"></div>
		<div class="row">
			<div class="mastery" id="Block">
				<div class="points">0 / 2</div>
			</div>
			<div class="mastery" id="Recovery">
				<div class="points">0 / 2</div>
			</div>
			<div class="mastery" id="EnchantedArmor">
				<div class="points">0 / 2</div>
			</div>
			<div class="mastery" id="ToughSkin">
				<div class="points">0 / 2</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="Unyielding">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="VeteransScars">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="BladedArmor">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="Oppression">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Juggernaut">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Hardiness">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="Resistance">
				<div class="points">0 / 3</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="Perseverance">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="Swiftness">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="ReinforcedArmor">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Evasive">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="SecondWind">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="LegendaryGuardian">
				<div class="points">0 / 4</div>
			</div>
			<div class="mastery" id="RunicBlessing">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Tenacious">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="utility">
		<div class="treeTitle" id="utility">UTILITY 0</div>
		<div class="require" id="meditationStrengthOfSpirit"></div>
		<div class="require" id="alchemistCulinaryMaster"></div>
		<div class="require" id="greedScavenger"></div>
		<div class="require" id="wealthBandit"></div>
		<div class="row">
			<div class="mastery" id="Phasewalker">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="FleetOfFoot">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Meditation">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="Scout">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="SummonersInsight">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="StrengthOfSpirit">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Alchemist">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="Greed">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="RunicAffinity">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Vampirism">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="CulinaryMaster">
				<div class="points">0 / 1</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="Scavenger">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Wealth">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="ExpandedMind">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="Inspiration">
				<div class="points">0 / 2</div>
			</div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Bandit">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="Intelligence">
				<div class="points">0 / 3</div>
			</div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Wanderer">
				<div class="points">0 / 1</div>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
</div>