<div class="container">
	<div class="remainingPointsContainer">Remaining Points: <span class="remainingPoints"></span></div>
	<div class="tree" id="offense">
		<div class="require" id="bruteForceMartialMastery"></div>
		<div class="require" id="butcherFeast"></div>
		<div class="require" id="mentalForceArcaneMastery"></div>
		<div class="require" id="spellWeavingBladeWeaving"></div>
		<div class="require" id="executionerDangerousGame"></div>
		<div class="treeTitle" id="offense">OFFENSE <span class="currentPoints">0</span></div>
		<div class="row" data-tier="1">
			<div class="mastery" id="DoubleEdgeSword" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Fury" data-max-points="4">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 4</div>
				</a>
			</div>
			<div class="mastery" id="Sorcery" data-max-points="4">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 4</div>
				</a>
			</div>
			<div class="mastery" id="Butcher" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="2">
			<div class="mastery" id="ExposeWeakness" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="BruteForce" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="MentalForce" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="Feast" data-max-points="1" data-requires-mastery="Butcher">
				<a href="#" class="masteryAncor">
					<div class="points" ><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>

		</div>
		<div class="row" data-tier="3">
			<div class="mastery" id="SpellWeaving" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="MartialMastery" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="ArcaneMastery" data-max-points="1" data-requires-mastery="MentalForce">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Executioner" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="4">
			<div class="mastery" id="BladeWeaving" data-max-points="1" data-requires-mastery="SpellWeaving">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Warlord" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="Archmage" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="DangerousGame" data-max-points="1" data-requires-mastery="Executioner">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="5">
			<div class="mastery" id="Frenzy" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="DevastatingStrikes" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="ArcaneBlade" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="6">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Havoc" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points" ><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="defense">
		<div class="treeTitle" id="defense">DEFENSE <span class="currentPoints">0</span></div>
		<div class="require" id="blockUnyielding"></div>
		<div class="require" id="toughSkinBladedArmor"></div>
		<div class="require" id="veteransScarsJuggernaut"></div>
		<div class="require" id="resistanceEvasive"></div>
		<div class="require" id="hardinessReinforcedArmor"></div>
		<div class="require" id="perseveranceSecondWind"></div>
		<div class="row" data-tier="1">
			<div class="mastery" id="Block" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 2</div>
				</a>
			</div>
			<div class="mastery" id="Recovery" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 2</div>
				</a>
			</div>
			<div class="mastery" id="EnchantedArmor" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 2</div>
				</a>
			</div>
			<div class="mastery" id="ToughSkin" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 2</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="2">
			<div class="mastery" id="Unyielding" data-max-points="1" data-requires-mastery="Block">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="VeteransScars" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="BladedArmor" data-max-points="1" data-requires-mastery="ToughSkin">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="3">
			<div class="mastery" id="Oppression" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Juggernaut" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Hardiness" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="Resistance" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="4">
			<div class="mastery" id="Perseverance" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="Swiftness" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="ReinforcedArmor" data-max-points="1" data-requires-mastery="Hardiness">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Evasive" data-max-points="1" data-requires-mastery="Resistance">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="5" data-requires-points="16">
			<div class="mastery" id="SecondWind" data-max-points="1" data-requires-mastery="Perseverance">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="LegendaryGuardian" data-max-points="4">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 4</div>
				</a>
			</div>
			<div class="mastery" id="RunicBlessing" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row" data-tier="6" data-requires-points="20">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Tenacious" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="utility">
		<div class="treeTitle" id="utility">UTILITY <span class="currentPoints">0</span></div>
		<div class="require" id="meditationStrengthOfSpirit"></div>
		<div class="require" id="alchemistCulinaryMaster"></div>
		<div class="require" id="greedScavenger"></div>
		<div class="require" id="wealthBandit"></div>
		<div class="row" data-tier="1">
			<div class="mastery" id="Phasewalker" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="FleetOfFoot" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Meditation" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="Scout" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="2">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="SummonersInsight" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="StrengthOfSpirit" data-max-points="1" data-requires-mastery="Meditation">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Alchemist" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="3">
			<div class="mastery" id="Greed" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="RunicAffinity" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Vampirism" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="CulinaryMaster" data-max-points="1" data-requires-mastery="Alchemist">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="4">
			<div class="mastery" id="Scavenger" data-max-points="1" data-requires-mastery="Greed">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Wealth" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="ExpandedMind" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="Inspiration" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 2</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="5">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Bandit" data-max-points="1" data-requires-mastery="Wealth">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="Intelligence" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 3</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row" data-tier="6">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Wanderer" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span> / 1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
</div>