<div class="container">
	<div class="tree" id="offense">
		<div class="row">
			<div class="mastery" id="DoubleEdgeSword"></div>
			<div class="mastery" id="Fury"></div>
			<div class="mastery" id="Sorcery"></div>
			<div class="mastery" id="Butcher"></div>
		</div>
		<div class="row">
			<div class="mastery" id="ExposeWeakness"></div>
			<div class="mastery" id="BruteForce"></div>
			<div class="mastery" id="MentalForce"></div>
			<div class="mastery" id="Feast"></div>
		</div>
		<div class="row">
			<div class="mastery" id="SpellWeaving"></div>
			<div class="mastery" id="MartialMastery"></div>
			<div class="mastery" id="ArcaneMastery"></div>
			<div class="mastery" id="Executioner"></div>
		</div>
		<div class="row">
			<div class="mastery" id="BladeWeaving"></div>
			<div class="mastery" id="Warlord"></div>
			<div class="mastery" id="Archmage"></div>
			<div class="mastery" id="DangerousGame"></div>
		</div>
		<div class="row">
			<div class="mastery" id="Frenzy"></div>
			<div class="mastery" id="DevastatingStrikes"></div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="ArcaneBlade"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Havoc"></div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="defense">
		<div class="row">
			<div class="mastery" id="Block"></div>
			<div class="mastery" id="Recovery"></div>
			<div class="mastery" id="EnchantedArmor"></div>
			<div class="mastery" id="ToughSkin"></div>
		</div>
		<div class="row">
			<div class="mastery" id="Unyielding"></div>
			<div class="mastery" id="VeteransScars"></div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="BladedArmor"></div>
		</div>
		<div class="row">
			<div class="mastery" id="Oppression"></div>
			<div class="mastery" id="Juggernaut"></div>
			<div class="mastery" id="Hardiness"></div>
			<div class="mastery" id="Resistance"></div>
		</div>
		<div class="row">
			<div class="mastery" id="Perseverance"></div>
			<div class="mastery" id="Swiftness"></div>
			<div class="mastery" id="ReinforcedArmor"></div>
			<div class="mastery" id="Evasive"></div>
		</div>
		<div class="row">
			<div class="mastery" id="SecondWind"></div>
			<div class="mastery" id="LegendaryGuardian"></div>
			<div class="mastery" id="RunicBlessing"></div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Tenacious"></div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="utility">
		<div class="row">
			<div class="mastery" id="Phasewalker"></div>
			<div class="mastery" id="FleetOfFoot"></div>
			<div class="mastery" id="Meditation"></div>
			<div class="mastery" id="Scout"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="SummonersInsight"></div>
			<div class="mastery" id="StrengthOfSpirit"></div>
			<div class="mastery" id="Alchemist"></div>
		</div>
		<div class="row">
			<div class="mastery" id="Greed"></div>
			<div class="mastery" id="RunicAffinity"></div>
			<div class="mastery" id="Vampirism"></div>
			<div class="mastery" id="CulinaryMaster"></div>
		</div>
		<div class="row">
			<div class="mastery" id="Scavenger"></div>
			<div class="mastery" id="Wealth"></div>
			<div class="mastery" id="ExpandedMind"></div>
			<div class="mastery" id="Inspiration"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Bandit"></div>
			<div class="mastery" id="Intelligence"></div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Wanderer"></div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
</div>