<div class="container">
	<div class="remainingPointsContainer">Remaining Points: <span class="remainingPoints"></span></div>
	<div class="resetPointsButton"><div id="button">RESET POINTS</div></div>
	<div class="tree" id="offense">
		<div class="require" id="bruteForceMartialMastery" data-mastery ="BruteForce"></div>
		<div class="require" id="butcherFeast" data-mastery ="Butcher"></div>
		<div class="require" id="mentalForceArcaneMastery" data-mastery ="MentalForce"></div>
		<div class="require" id="spellWeavingBladeWeaving" data-mastery ="SpellWeaving"></div>
		<div class="require" id="executionerDangerousGame" data-mastery ="Executioner"></div>
		<div class="treeTitle" id="offense">OFFENSE <span class="currentPoints">0</span></div>
		<div class="row" data-tier="1">
			<div class="mastery" id="DoubleEdgeSword" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Fury" data-max-points="4">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/4</div>
				</a>
			</div>
			<div class="mastery" id="Sorcery" data-max-points="4">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/4</div>
				</a>
			</div>
			<div class="mastery" id="Butcher" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="2">
			<div class="mastery" id="ExposeWeakness" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="BruteForce" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="MentalForce" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="Feast" data-max-points="1" data-requires-mastery="Butcher">
				<a href="#" class="masteryAncor">
					<div class="points" ><span class="currentPoints">0</span>/1</div>
				</a>
			</div>

		</div>
		<div class="row" data-tier="3">
			<div class="mastery" id="SpellWeaving" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="MartialMastery" data-max-points="1" data-requires-mastery="BruteForce">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="ArcaneMastery" data-max-points="1" data-requires-mastery="MentalForce">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Executioner" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="4">
			<div class="mastery" id="BladeWeaving" data-max-points="1" data-requires-mastery="SpellWeaving">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Warlord" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="Archmage" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="DangerousGame" data-max-points="1" data-requires-mastery="Executioner">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="5">
			<div class="mastery" id="Frenzy" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="DevastatingStrikes" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="ArcaneBlade" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="6">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Havoc" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points" ><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="defense">
		<div class="treeTitle" id="defense">DEFENSE <span class="currentPoints">0</span></div>
		<div class="require" id="blockUnyielding" data-mastery ="Block"></div>
		<div class="require" id="toughSkinBladedArmor" data-mastery ="ToughSkin"></div>
		<div class="require" id="veteransScarsJuggernaut" data-mastery ="VeteransScars"></div>
		<div class="require" id="resistanceEvasive" data-mastery ="Resistance"></div>
		<div class="require" id="hardinessReinforcedArmor" data-mastery ="Hardiness"></div>
		<div class="require" id="perseveranceSecondWind" data-mastery ="Perseverance"></div>
		<div class="row" data-tier="1">
			<div class="mastery" id="Block" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/2</div>
				</a>
			</div>
			<div class="mastery" id="Recovery" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/2</div>
				</a>
			</div>
			<div class="mastery" id="EnchantedArmor" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/2</div>
				</a>
			</div>
			<div class="mastery" id="ToughSkin" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/2</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="2">
			<div class="mastery" id="Unyielding" data-max-points="1" data-requires-mastery="Block">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="VeteransScars" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="BladedArmor" data-max-points="1" data-requires-mastery="ToughSkin">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="3">
			<div class="mastery" id="Oppression" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Juggernaut" data-max-points="1" data-requires-mastery="VeteransScars">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Hardiness" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="Resistance" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="4">
			<div class="mastery" id="Perseverance" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="Swiftness" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="ReinforcedArmor" data-max-points="1" data-requires-mastery="Hardiness">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Evasive" data-max-points="1" data-requires-mastery="Resistance">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="5" data-requires-points="16">
			<div class="mastery" id="SecondWind" data-max-points="1" data-requires-mastery="Perseverance">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="LegendaryGuardian" data-max-points="4">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/4</div>
				</a>
			</div>
			<div class="mastery" id="RunicBlessing" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row" data-tier="6" data-requires-points="20">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Tenacious" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
	<div class="tree" id="utility">
		<div class="treeTitle" id="utility">UTILITY <span class="currentPoints">0</span></div>
		<div class="require" id="meditationStrengthOfSpirit" data-mastery ="Meditation"></div>
		<div class="require" id="alchemistCulinaryMaster" data-mastery ="Alchemist"></div>
		<div class="require" id="greedScavenger" data-mastery ="Greed"></div>
		<div class="require" id="wealthBandit" data-mastery ="Wealth"></div>
		<div class="row" data-tier="1">
			<div class="mastery" id="Phasewalker" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="FleetOfFoot" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Meditation" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="Scout" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="2">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="SummonersInsight" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="StrengthOfSpirit" data-max-points="1" data-requires-mastery="Meditation">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Alchemist" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="3">
			<div class="mastery" id="Greed" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="RunicAffinity" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Vampirism" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="CulinaryMaster" data-max-points="1" data-requires-mastery="Alchemist">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="4">
			<div class="mastery" id="Scavenger" data-max-points="1" data-requires-mastery="Greed">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Wealth" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="ExpandedMind" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="Inspiration" data-max-points="2">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/2</div>
				</a>
			</div>
		</div>
		<div class="row" data-tier="5">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Bandit" data-max-points="1" data-requires-mastery="Wealth">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="Intelligence" data-max-points="3">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/3</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
		</div>
		<div class="row" data-tier="6">
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="Wanderer" data-max-points="1">
				<a href="#" class="masteryAncor">
					<div class="points"><span class="currentPoints">0</span>/1</div>
				</a>
			</div>
			<div class="mastery" id="blank"></div>
			<div class="mastery" id="blank"></div>
		</div>
	</div>
</div>

<!--Tool Tips Begin -->
<div class="toolTip">
	<div class="toolTipTitle"></div>
	<div class="toolTipReqs"></div>
	<div class="toolTipRank">Rank: <span class="currentRank"></span>/<span class="maxRank"></span></div>
	<div class="toolTipDesc"></div>
</div>

<div class="title" id="DoubleEdgeSword">Double-Edged Sword</div>
<div class="desc" id="DoubleEdgeSword" data-rank="0">Melee - Deal an additional 2% damage and receive an additional 1% damage<br/><br/>Ranged - Deal an additional 1.5% damage and receive an additional 1.5% damage</div>
<div class="desc" id="DoubleEdgeSword" data-rank="1">Melee - Deal an additional 2% damage and receive an additional 1% damage<br/><br/>Ranged - Deal an additional 1.5% damage and receive an additional 1.5% damage</div>
<div class="reqs" id="DoubleEdgeSword"></div>

<div class="title" id="Fury">Fury</div>
<div class="desc" id="Fury" data-rank="0">+1.25% Attack Speed</div>
<div class="desc" id="Fury" data-rank="1">+1.25% Attack Speed<br/><br>Next Rank:<br/>+2.5% Attack Speed</div>
<div class="desc" id="Fury" data-rank="2">+2.5% Attack Speed<br/><br/>Next Rank:<br/>3.75% Attack Speed</div>
<div class="desc" id="Fury" data-rank="3">+3.75 Attack Speed<br/><br/>Next Rank:<br/>5% Attack Speed</div>
<div class="desc" id="Fury" data-rank="4">+5% Attack Speed</div>
<div class="reqs" id="Fury"></div>

<div class="title" id="Sorcery">Sorcery</div>
<div class="desc" id="Sorcery" data-rank="0">+1.25% Cooldown Reduction</div>
<div class="desc" id="Sorcery" data-rank="1">+1.25% Cooldown Reduction<br/><br>Next Rank:<br/>+2.5% Cooldown Reduction</div>
<div class="desc" id="Sorcery" data-rank="2">+2.5% Cooldown Reduction<br/><br/>Next Rank:<br/>3.75% Cooldown Reduction</div>
<div class="desc" id="Sorcery" data-rank="3">+3.75 Cooldown Reduction<br/><br/>Next Rank:<br/>5% Cooldown Reduction</div>
<div class="desc" id="Sorcery" data-rank="4">+5% Cooldown Reduction</div>
<div class="reqs" id="Sorcery"></div>

<div class="title" id="Butcher">Butcher</div>
<div class="desc" id="Butcher" data-rank="0">Basic attacks and single target spells deal and additional 2 damage to minions and monsters<br/><br/>This does not trigger off of area of effect damage or damage over time effects</div>
<div class="desc" id="Butcher" data-rank="1">Basic attacks and single target spells deal and additional 2 damage to minions and monsters<br/><br/>This does not trigger off of area of effect damage or damage over time effects</div>
<div class="reqs" id="Butcher"></div>

<div class="title" id="ExposeWeakness">Expose Weakness</div>
<div class="desc" id="ExposeWeakness" data-rank="0">Damaging an enemy with a spell increases allied champions' damage to that enemy by 1% for the next 3 seconds</div>
<div class="desc" id="ExposeWeakness" data-rank="1">Damaging an enemy with a spell increases allied champions' damage to that enemy by 1% for the next 3 seconds</div>
<div class="reqs" id="ExposeWeakness">Requires 4 points in Offense</div>

<div class="title" id="BruteForce">Brute Force</div>
<div class="desc" id="BruteForce" data-rank="0">+4 Attack Damage at level 18 (+0.22 Attack Damage per level)</div>
<div class="desc" id="BruteForce" data-rank="1">+4 Attack Damage at level 18 (+0.22 Attack Damage per level)<br/><br/>Next Rank:<br/>+7 Attack Damage at level 18 (+0.39 Attack Damage per level)</div>
<div class="desc" id="BruteForce" data-rank="2">+7 Attack Damage at level 18 (+0.39 Attack Damage per level)<br/><br/>Next Rank:<br/>+10 Attack Damage at level 18 (+0.55 Attack Damage per level)</div>
<div class="desc" id="BruteForce" data-rank="3">+10 Attack Damage at level 18 (+0.55 Attack Damage per level</div>
<div class="reqs" id="BruteForce">Requires 4 points in Offense</div>

<div class="title" id="MentalForce">Mental Force</div>
<div class="desc" id="MentalForce" data-rank="0">+6 Ability Power at level 18 (+0.33 Ability Power per level)</div>
<div class="desc" id="MentalForce" data-rank="1">+6 Ability Power at level 18 (+0.33 Ability Power per level)<br/><br/>Next Rank:<br/>+11 Ability Power at level 18 (+0.61 Ability Power per level)</div>
<div class="desc" id="MentalForce" data-rank="2">+11 Ability Power at level 18 (+0.61 Ability Power per level)<br/><br/>Next Rank:<br/>+16 Ability Power at level 18 (+0.89 Ability Power per level)</div>
<div class="desc" id="MentalForce" data-rank="3">+16 Ability Power at level 18 (+0.89 Ability Power per level)</div>
<div class="reqs" id="MentalForce">Requires 4 points in Offense</div>

<div class="title" id="Feast">Feast</div>
<div class="desc" id="Feast" data-rank="0">Killing a unit restores 2 Health and 1 Mana</div>
<div class="desc" id="Feast" data-rank="1">Killing a unit restores 2 Health and 1 Mana</div>
<div class="reqs" id="Feast">Requires 4 points in Offense<br/>Requires 1 point in Butcher</div>

<div class="title" id="SpellWeaving">Spell Weaving</div>
<div class="desc" id="SpellWeaving" data-rank="0">Damaging an enemy champion with a Basic Attack increases Spell Damage by 1%, stacking up to 3 times (max 3% damage increase)</div>
<div class="desc" id="SpellWeaving" data-rank="1">Damaging an enemy champion with a Basic Attack increases Spell Damage by 1%, stacking up to 3 times (max 3% damage increase)</div>
<div class="reqs" id="SpellWeaving">Requires 8 points in Offense</div>

<div class="title" id="MartialMastery">Martial Mastery</div>
<div class="desc" id="MartialMastery" data-rank="0">+4 Attack Damage</div>
<div class="desc" id="MartialMastery" data-rank="1">+4 Attack Damage</div>
<div class="reqs" id="MartialMastery">Requires 8 points in Offense<br/>Requires 3 points in Brute Force</div>

<div class="title" id="ArcaneMastery">Arcane Mastery</div>
<div class="desc" id="ArcaneMastery" data-rank="0">+6 Ability Power</div>
<div class="desc" id="ArcaneMastery" data-rank="1">+6 Ability Power</div>
<div class="reqs" id="ArcaneMastery">Requires 8 points in Offense<br/>Requires 3 points in Mental Force</div>

<div class="title" id="Executioner">Executioner</div>
<div class="desc" id="Executioner" data-rank="0">Increase damage dealt to champions below 20% Health by 5%</div>
<div class="desc" id="Executioner" data-rank="1"><br/>Increase damage dealt to champions below 20% Health by 5%<br/><br/>Next Rank:<br/>Increase damage dealt to champions below 35% Health by 5%</div>
<div class="desc" id="Executioner" data-rank="2"><br/>Increase damage dealt to champions below 35% Health by 5%<br/><br/>Next Rank:<br/>Increase damage dealt to champions below 50% Health by 5%</div>
<div class="desc" id="Executioner" data-rank="3">Increase damage dealt to champions below 50% Health by 5%</div>
<div class="reqs" id="Executioner">Requires 8 points in Offense</div>

<div class="title" id="BladeWeaving">Blade Weaving</div>
<div class="desc" id="BladeWeaving" data-rank="0">Damaging an enemy champion with a spell increases Basic Attack Damage by 1%, stacking up to 3 times (max 3% damage increase)</div>
<div class="desc" id="BladeWeaving" data-rank="1">Damaging an enemy champion with a spell increases Basic Attack Damage by 1%, stacking up to 3 times (max 3% damage increase)</div>
<div class="reqs" id="BladeWeaving">Requires 12 points in Offense<br/>Requires 1 point in Spell Weaving</div>

<div class="title" id="Warlord">Warlord</div>
<div class="desc" id="Warlord" data-rank="0">Increase bonus Attack Damage by 2%</div>
<div class="desc" id="Warlord" data-rank="1">Increase bonus Attack Damage by 2%<br/><br/>Next Rank:<br/>Increase bonus Attack Damage by 3.5%</div>
<div class="desc" id="Warlord" data-rank="2">Increase bonus Attack Damage by 3.5%<br/><br/>Next Rank:<br/>Increase bonus Attack Damage by 5%</div>
<div class="desc" id="Warlord" data-rank="3">Increase bonus Attack Damage by 5%</div>
<div class="reqs" id="Warlord">Requires 12 points in Offense</div>

<div class="title" id="Archmage">Archmage</div>
<div class="desc" id="Archmage" data-rank="0">Increase bonus Ability Power by 2%</div>
<div class="desc" id="Archmage" data-rank="1">Increase bonus Ability Power by 2%<br/><br/>Next Rank:<br/>Increase bonus Ability Power by 3.5%</div>
<div class="desc" id="Archmage" data-rank="2">Increase bonus Ability Power by 3.5%<br/><br/>Next Rank:<br/>Increase bonus Ability Power by 5%</div>
<div class="desc" id="Archmage" data-rank="3">Increase bonus Ability Power by 5%</div>
<div class="reqs" id="Archmage">Requires 12 points in Offense</div>

<div class="title" id="DangerousGame">Dangerous Game</div>
<div class="desc" id="DangerousGame" data-rank="0">Killing a champion restores 5% missing Health and Mana</div>
<div class="desc" id="DangerousGame" data-rank="1">Killing a champion restores 5% missing Health and Mana</div>
<div class="reqs" id="DangerousGame">Requires 12 points in Offense<br/>Requires 3 points in Executioner</div>

<div class="title" id="Frenzy">Frenzy</div>
<div class="desc" id="Frenzy" data-rank="0">Critical hits grant 5% Attack Speed for 3 seconds (stacks up to 3 times)</div>
<div class="desc" id="Frenzy" data-rank="1">Critical hits grant 5% Attack Speed for 3 seconds (stacks up to 3 times)</div>
<div class="reqs" id="Frenzy">Requires 16 points in Offense</div>

<div class="title" id="DevastatingStrikes">Devastating Strikes</div>
<div class="desc" id="DevastatingStrikes" data-rank="0">+2% Armor and Magic Penetration</div>
<div class="desc" id="DevastatingStrikes" data-rank="1">+2% Armor and Magic Penetration<br/><br/>Next Rank:<br/>+4% Armor and Magic Penetration</div>
<div class="desc" id="DevastatingStrikes" data-rank="2">+4% Armor and Magic Penetration<br/><br/>Next Rank:<br/>+6% Armor and Magic Penetration</div>
<div class="desc" id="DevastatingStrikes" data-rank="3">+6% Armor and Magic Penetration</div>
<div class="reqs" id="DevastatingStrikes">Requires 16 points in Offense</div>

<div class="title" id="ArcaneBlade">Arcane Blade</div>
<div class="desc" id="ArcaneBlade" data-rank="0">Basic Attacks also deal bonus magic damage  equal to 5% of Ability Power</div>
<div class="desc" id="ArcaneBlade" data-rank="1">Basic Attacks also deal bonus magic damage  equal to 5% of Ability Power</div>
<div class="reqs" id="ArcaneBlade">Requires 16 points in Offense</div>

<div class="title" id="Havoc">Havoc</div>
<div class="desc" id="Havoc" data-rank="0">+3% increased damage</div>
<div class="desc" id="Havoc" data-rank="1">+3% increased damage</div>
<div class="reqs" id="Havoc">Requires 20 points in Offense</div>